
.triangle { background: #fed600; }

.p_font { 
	font-family:'Raleway-Regular'; 
	font-size: 23px;
}
.table_step4 {
	margin-left: 0;
}
.style4 { 
	margin: 40px 0 -70px; 
	color: #1c526b; 
	font-size: 18px; 
	font-family: 'Raleway-ExtraBold';
}
.triangle_step4, 
.triangle_step5 { background: #e6e6e6; }

.triangle_step1::after,
.triangle_step2::after,
.triangle_step3::after,
.triangle_step4::after {
	content: '';
	position: absolute;
	top: -20px;
    left: -4px;
    border: 10px solid transparent;
    border-bottom: 20px solid #fed600;
    border-radius: 0px 0px 10px 10px;
}
.step1,
.step2,
.step3 { color: #4b8aa6; font-weight: 400;  }
.step4 { font-family: 'Raleway-Bold'; color: #4b8aa6;  }

/*##################  MOBILE  ##################*/

.step1_mobile, 
.step2_mobile,
.step3_mobile { color: #4b8aa6; font-weight: 400; } 
.step4_mobile { font-family: 'Raleway-Bold'; color: #4b8aa6; }

